async_timeout==4.0.3
boto3==1.34.54
datasets==2.18.0
evaluate==0.4.1
fastapi==0.100.1
filelock==3.13.1
gradio==3.39.0
huggingface_hub==0.21.3
jieba==0.42.1
mdit_py_plugins==0.3.3
nltk==3.8.1
numpy==1.26.4
optimum==1.17.1
pandas==2.2.1
peft==0.9.0
pydantic==1.10.9
pymongo==4.6.2
PyYAML==6.0.1
ray==2.6.2
Requests==2.31.0
rich==13.7.1
rouge_chinese==1.0.3
torch==2.1.2
transformers==4.33.0
typer==0.9.0
typing_extensions==4.10.0
socksio==1.0.0
scipy==1.11.1
einops
transformers_stream_generator
tiktoken
cpm_kernels
